apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-access-api.fullname" . }}
  labels:
    {{- include "data-access-api.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 100%
  selector:
    matchLabels:
      {{- include "data-access-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "data-access-api.selectorLabels" . | nindent 8 }}
      annotations:
        releaseTime: {{ dateInZone "2006-01-02 15:04:05Z" (now) "UTC"| quote }}
    spec:
      serviceAccountName: "{{ .Values.service_account.name }}"
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 60
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 30
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            runAsGroup: 1001
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop: [ "ALL" ]
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{ include "dbConnectionDetails" . | nindent 12 }}
            - name: DB_URL
              value: "jdbc:postgresql://$(DB_HOST):5432/$(DB_NAME)"
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.spring.profile | quote }}
            - name: AWS_REGION
              value: {{ .Values.aws.region | quote }}
            - name: FEATURE_DISABLESECURITY
              value: "false"
            {{ include "sentryConfig" . | nindent 12 }}