openapi: "3.0.0"
info:
  version: 1.0.0
  title: Applications API

components:
    BaseApplicationContent:
      description: "Test"
      oneOf:
        - $ref: '#/components/applyApplication'
        - $ref: '#/components/decideApplication'
      discriminator:
        propertyName: objectType
        mapping:
          simple: '#/components/applyApplication'
          complex: '#/components/decideApplication'

    applyApplication:
      type: object
      required:
        - objectType
        - id
        - submittedAt
      properties:
        objectType:
          type: string
        id:
          type: string
          format: uuid
        submittedAt:
          type: string
          format: date-time
      additionalProperties: true

    decideApplication:
      allOf:
        - $ref: '#/components/applyApplication'
        - type: object
      required:
        - proceedings
      properties:
        proceedings:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - id
            properties:
            id:
              type: string
              format: uuid
            additionalProperties: true
    additionalProperties: true
