<div class="app-masthead">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <p class="govuk-heading-xl app-masthead__title">LAA Access Data Store APIs documentation</p>
        <p class="app-masthead__description">Technical documentation for the LAA Access Data Store (ADS) APIs and related services</p>
      </div>
    </div>
  </div>
</div>

# LAA Access Data Store APIs

Technical documentation for the Access Data Store (ADS) APIs.

This site is under construction. Content will be added as the service develops.

## Source code

[github.com/ministryofjustice/laa-data-access-api](https://github.com/ministryofjustice/laa-data-access-api)
